body {
	font-family: Tahoma, Verdana, Ubuntu, Arial, 'Hiragino Sans GB', sans-serif !important;
	padding: 0 !important;
	margin: 0 !important;
	background-color: #C0DEED !important;
	background-image: url(http://img.ly/system/uploads/008/407/259/original_bg.png) top no-repeat fixed !important;
}

.m-header {
	color: #FFF !important;
	background: #333 linear-gradient(#595959, #141414) !important;
	box-shadow: rgba(0, 0, 0, 0.55) 0 -1px 3px 1px !important;
}

.m-navi > a {
	color: #FFF !important;
	border-top: 5px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 5px solid rgba(0, 0, 0, 0) !important;
	box-sizing: border-box !important;
}

.m-navi > a.m-selected {
	color: #FFF !important;
	background: none !important;
	border-bottom: 5px solid #44D5FF !important;
}

.m-nav-account * {
	color: #FFF !important;
}

.m-search input {
	box-shadow: rgba(51, 51, 51, 0.5) 0px 0px 2px 0px inset !important;
}

.m-face {
	border-radius: 2000px !important;
}

.m-input-wrap {
	background: #FFF !important;
}

.m-moot.m-expanded {
	padding: 20px 30px !important;
	margin: 30px 0 !important;
	background: #FFF !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px !important;
}

.m-moot.m-collapsed {
	padding: 10px 10px 8px !important;
	background: #FFF !important;
}

.m-moot.m-collapsed .m-facelink {
	width: 22px !important;
	height: 22px !important;
}

.m-moot.m-collapsed .m-meta {
	display: none !important;
}
.m-moot.m-collapsed .m-title {
	padding: 0 !important;
}

.m-h3.m-forums-title, .m-forums.m-links {
	display: none !important;
}