@import url(//joyneop.github.io/fonts/seravek.css);

body {
	font-family: Seravek, 'Helvetica Neue', Ubuntu, Arial, 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif !important;
	font-weight: 300;
	padding: 0 !important;
	margin: 0 !important;
	background: #FAFAFA !important;
}

.m-header {
	color: #FFF !important;
	background: #333 linear-gradient(#444, #222) !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0 0 3px 0 !important;
}

.m-navi > a {
	color: #FFF !important;
	border-top: 5px solid rgba(0, 0, 0, 0) !important;
	border-bottom: 5px solid rgba(0, 0, 0, 0) !important;
	box-sizing: border-box !important;
}

.m-navi > a.m-selected {
	color: #FFF !important;
	background: none !important;
	border-bottom: 5px solid #44D5FF !important;
}

.m-nav-account * {
	color: #FFF !important;
}

.m-search input {
	box-shadow: rgba(51, 51, 51, 0.5) 0px 0px 2px 0px inset !important;
}

.m-face {
	border-radius: 2000px !important;
}

.m-input-wrap {
	background: #FFF !important;
}

.m-moot.m-expanded {
	padding: 20px 30px !important;
	margin: 30px 0 !important;
	background: #FFF !important;
	box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px !important;
}

.m-moot.m-collapsed {
	padding: 10px 10px 8px !important;
	background: #FFF !important;
}

.m-moot.m-collapsed .m-facelink {
	width: 22px !important;
	height: 22px !important;
}

.m-moot.m-collapsed .m-meta {
	display: none !important;
}
.m-moot.m-collapsed .m-title {
	padding: 0 !important;
}

.m-h3.m-forums-title, .m-forums.m-links {
	display: none !important;
}