/*----------------------------------------
Core file of NeopBlog
NeopBlog on GitHub: https://github.com/JoyNeop/NeopBlog
------------------------------------------
File meta info:
	File Name: reset.css
	File Version: 0.9.2
	File Status: Beta
	File Branch: Master
------------------------------------------
NeopBlog developer meta info:
	Developer Name: Joy Neop
	Developer Website: http://www.joyneop.com/
	Developer Twitter: @joyneop
------------------------------------------
Copyright info:
	License Name: CC BY-NC-SA 4.0
	License Link: http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US
----------------------------------------*/

body {
	padding: 0;
	margin: 0;
	transition: all 300ms ease;
}

header.global {
	padding-top: 50px;
	margin-top: 0;
	margin-bottom: 0;
}

footer.global {
	font-size: 15px;
	line-height: 22px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-size: 40px;
	padding: 0;
	margin: 26px 0 35px;
}

.global h2 {
	font-size: 15px;
	margin: 18px 0;
}

.global a {
	text-decoration: none;
}

#cont {
	margin: 60px 0;
}

section.post, .comment-container {
	padding: 20px 60px 45px;
	margin-top: 30px;
	margin-bottom: 80px;
	display: none;
}

section.post h2 {
	font-size: 23px;
	margin: 19px 0 22px;
}

p {
	font-size: 17px;
	margin: 18px 0;
}

section.post footer {
	font-size: 16px;
	margin: 40px 0 0;
}

.post-text > img {
	margin: 18px auto;
}

blockquote, pre {
	width: 80%;
	margin-top: 18px;
	margin-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

section.post > footer {
	margin-top: 30px;
}

nav.prevandnext {
	height: 50px;
	padding: 30px 0;
}

nav.prevandnext span {
	display: block;
	width: 40%;
	height: 40px;
}

nav.prevandnext a {
	font-size: 15px;
	visibility: hidden;
}

nav.prevandnext span.prev {
	float: left;
	text-align: left;
}

nav.prevandnext span.next {
	float: right;
	text-align: right;
}

div#comment-container {
	display: none;
	visibility: hidden;
	display: none;
}