@import url(//joyneop.github.io/fonts/open-sans.css);

body {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
	color: #585858;
	background-color: #FAFAFA;
}

header.global a {
	display: block;
}

header.global h1, h2 {
	color: #585858;
	font-weight: 300;
	margin: 0;
}

h1 {
	font-family: 'Seravek-Extralight', 'Seravek Extralight', Seravek-Extralight, Seravek, 'OpenSans-Light', 'Open Sans Light', 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
	font-weight: 300;
	text-decoration: none;
	padding: 20px 0 10px;
}

header.global h2 {
	padding: 10px 0;
	margin: 0;
}

.avatar {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: #FFF url(//joyneop.github.io/joyneop.png) center no-repeat scroll;
	background-size: contain;
	border-radius: 2000px;
	box-shadow: rgba(0, 0, 0, 0.21322) 0 0 5px inset;
	-webkit-transition: all 270ms ease;
	-moz-transition: all 270ms ease;
	transition: all 270ms ease;
}

.avatar:hover {
	box-shadow: rgba(0, 0, 0, 0.432222) 0 0 5px inset;
}

p {
	line-height: 1.65em;
}

p code {
	font-family: Menlo, Monaco, Osaka, monospace;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: inherit;
}

.global a {
	text-decoration: none;
}

.post {
	font-weight: 400;
	padding-top: 20px;
	margin-bottom: 90px;
	background: #FFF;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.024322) 0 0 4px;
}

.post h2:lang(en), .post h3:lang(en) {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post h2:lang(ja), .post h3:lang(ja) {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post h2:lang(zh-Hant), .post h3:lang(zh-Hant) {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Kaku Gotihc ProN', sans-serif;
}

.post-text :lang(en) {
	font-family: 'Seravek-Light', 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post-text :lang(ja) {
	font-family: 'Seravek-Light', 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post-text :lang(zh-Hant) {
	font-family: 'Seravek-Light', 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Kaku Gotihc ProN', sans-serif;
}

.post > h2 {
	font-size: 2.4em;
	font-weight: 400;
	color: #2B8CD2;
	margin: 19px 0 22px;
}

.post-text > h3 {
	font-size: 1.15em;
	font-weight: bold;
	margin: 19px 0 20px;
}

.post-text > p {
	margin: 17px 0;
}

.post-text em:lang(en) {
	font-family: 'Seravek-LightItalic', Seravek-LightItalic, Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post-text em:lang(ja) {
	font-family: 'Seravek-LightItalic', Seravek-LightItalic, Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post-text em:lang(zh-Hant) {
	font-family: 'Seravek-LightItalic', Seravek-LightItalic, Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Kaku Gotihc ProN', sans-serif;
}

p code {
	background: #F4F4F4;
	border-radius: 3px;
	padding: 0 3px;
}

.post-text img {
	box-shadow: rgba(0, 0, 0, 0.091333) 0 1px 3px;
	border-radius: 3px;
}

.post-text > img {
	margin-left: auto;
	margin-right: auto;
}

.post-text > p > img {
	float: right;
}

.post-text blockquote {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.post-text > pre {
	font-family: Menlo, Monaco, Osaka, monospace;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.post-text > canvas {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.post footer {
	font-size: 1.6em;
	font-weight: 300;
	text-align: center;
	margin: 60px 0 0 0;
}

.post footer a:hover {
	text-decoration: underline;
}

.post.more li a {
	color: #2B8CD2;
}

nav.prevandnext span a {
	font-size: 2em;
	font-weight: 300;
}

footer.global {
	font-size: 1.4em;
	font-weight: 300;
	text-align: center;
}