@media screen and (max-width: 1099px) {
	body {
		font-size: 11px;
	}

	.global {
		text-align: center;
		margin: 60px 30px;
		padding: 20px 60px 0;
	}

	#global-header {
		padding-top: 50px;
	}

	.global h1 {
		font-size: 4.5em;
		text-align: center;
		margin: 35px 0;
	}

	.global h2 {
		font-size: 2em;
		text-align: center;
		margin: 15px 0;
	}

	div#cont.cont {
		padding-left: 0px;
		padding-right: 0px;
		margin: 60px 10px;
	}

	.post {
		margin: 30px 0 80px;
		padding: 20px 10px 60px;
	}

	.post-text {
		font-size: 1.5em;
	}

	.post-text > img {
		max-width: 100%;
	}

	.post footer {
		text-align: center;
	}

	nav.prevandnext {
		margin: 30px 14px;
		padding-left: 0px;
		padding-right: 0px;
	}
}