@import url(http://joyneop.github.io/fonts/open-sans.css);

body {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
	color: #585858;
	background-color: #FAFAFA;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-weight: 300;
}

body, h3, h4, h5, h6, p {

}

header.global a {
	display: block;
}

header.global h1, h2 {
	color: #585858;
	margin: 0;
}

h1 {
	font-weight: 300;
	text-decoration: none;
	padding: 20px 0 10px;
}

header.global h2 {
	padding: 10px 0;
	margin: 0;
}

.avatar {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: #FFF url(http://joyneop.github.io/joyneop.png) center no-repeat scroll;
	background-size: contain;
	border-radius: 2000px;
	box-shadow: rgba(0, 0, 0, 0.21322) 0 0 5px inset;
	-webkit-transition: all 270ms ease;
	-moz-transition: all 270ms ease;
	transition: all 270ms ease;
}

.avatar:hover {
	box-shadow: rgba(0, 0, 0, 0.432222) 0 0 5px inset;
}

p {
	font-size: 17px;
	line-height: 32px;
}

p em {
	font-weight: bold;
	text-decoration: underline;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: inherit;
}

.global a {
	text-decoration: none;
}

.post {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.92);
	padding-top: 20px;
	margin-bottom: 90px;
	background: #2F2F2F url(slate.jpg) top repeat scroll;
	background-size: 100px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 4px 18px;
}

.post [lang="en"] {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post [lang="ja"] {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gotihc ProN', 'Hiragino Sans GB', sans-serif;
}

.post [lang="zh-Hant"] {
	font-family: Seravek, 'Open Sans', Helvetica Neue, Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Kaku Gotihc ProN', sans-serif;
}

.post > h2 {
	font-size: 23px;
	margin: 19px 0 22px;
}

.post-text > h3 {
	margin: 19px 0 20px;
	text-align: center;
}

.post-text > p {
	margin: 17px 0;
}

.post-text img {
	box-shadow: rgba(0, 0, 0, 0.33) 0 1px 2px 1px;
	border-radius: 3px;
}

.post-text > img {
	margin-left: auto;
	margin-right: auto;
}

.post-text > p > img {
	float: right;
}

.post-text blockquote {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.post-textpost > pre {
	font-family: 'Menlo', monospace;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.post-text > canvas {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.post > footer {
	color: #999;
	font-weight: normal;
	text-align: center;
	margin: 60px 0 0 0;
}

nav.prevandnext span a {
	font-size: 20px;
	font-weight: normal;
	color: #FDFDFD;
}

footer.global {
	font-size: 15px;
	text-align: center;
}