@import url(/fonts/seravek.css);
@import url(/fonts/erato.css);

html, body, pre, code {
	font-family: Seravek, 'JAF Bernino Sans', 'Myriad Pro', Myriad, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	font-size: 10px;
	font-weight: 200;
	color: #444;
	background-color: #FAFAFA;
}

header.global a {
	display: block;
}

header.global h1, header.global h2 {
	color: #585858;
	font-weight: 200;
	text-align: center;
	margin: 0;
}

h1 {
	font-weight: 200;
	text-decoration: none;
	padding: 20px 0 10px;
}

header.global h2 {
	padding: 10px 0;
	margin: 0;
}

.avatar {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: #FFF url(/joyneop.png) center no-repeat scroll;
	background-size: contain;
	border-radius: 2000px;
	box-shadow: rgba(0, 0, 0, 0.21322) 0 0 5px inset;
	-webkit-transition: all 270ms ease;
	-moz-transition: all 270ms ease;
	transition: all 270ms ease;
}

.avatar:hover {
	box-shadow: rgba(0, 0, 0, 0.432222) 0 0 5px inset;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.global a {
	text-decoration: none;
}

.post {
	font-weight: 300;
	padding-top: 60px;
	margin-bottom: 90px;
	background: #FFF;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.024322) 0 0 4px;
}

.post-h2 {
	font-size: 2.6rem;
	font-weight: 400;
	margin: 0 0 0;
}

.post-h2, .post-h2 a {
	color: #2B8CD2;
}

.post-text {
	font-weight: 200;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	padding-top: 10px;
}

.post-text > h3 {
	font-size: 2.6rem;
	font-weight: 200;
	color: #999;
	margin: 20px 0 20px;
}

.post-text > p, .post-text > ul > li, .post-text > ol > li, .post-text > pre {
	line-height: 1.65em;
	margin: 17px 0;
}

.post-text > p a {
	color: #2B8CD2;
}

.post-text > p a:hover {
	border-bottom: 1px solid #C0C0C0;
}

.post-text em {
	font-style: italic;
}

.post-text strong {
	font-weight: 400;
}

.post-text > ol, .post-text > ul {
	padding: 0 30px 0 60px;
}

.post-text > ol > li, .post-text > ul > li {
	margin: 0 0 15px;
}

p code {
	background: #F4F4F4;
	border-radius: 3px;
	padding: 0 3px;
}

.post-text figure {
	width: 100%;
	margin: 17px 0;
}

.post-text img {
	border-radius: 3px;
}

.post-text figure img {
	margin-left: auto;
	margin-right: auto;
}

.post-text figure figcaption {
	font-size: 1.2rem;
	font-style: italic;
	text-align: center;
	padding: 0.5rem 0 0;
}

.post-text p > img {
	float: right;
}

.post-text blockquote {
	font-style: italic;
	border-left: 3px solid #F5F5F5;
	padding-left: 14px;
	margin-left: -17px;
}

.post-text pre {
	background: #F4F4F4;
	border-radius: 4px;
	overflow-x: scroll;

	box-sizing: content-box;
	padding: 10px;
	margin-left: -10px;
}

.post-text > canvas {
}

.post-date {
	font-size: 1.6rem;
	font-weight: 300;
	color: #999;
	margin: 0 0 0;
}

.post-date:hover {
	color: #777;
}

.post-date a {
	color: inherit;
}

.post.more li > a {
	/*font-size: 2.6em;*/
	/*font-weight: normal;*/
	/*color: #2B8CD2;*/
}

nav.prevandnext span, nav.prevandnext span a {
	font-size: 1.414rem;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 1em 0.4em;
}

footer.global {
	font-size: 1.4rem;
	font-weight: 200;
	color: #585858;
	text-align: center;
}
