@media screen and (min-width: 1100px) {
	html, body {
		font-size: 10px;
	}

	.global {
		width: 612px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}

	#global-header {
		padding-top: 50px;
	}

	.global h1 {
		font-size: 2.8em;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.global h2 {
		font-size: 2em;
		margin: 15px 0;
	}

	#global-footer {
		text-align: left;
		padding: 50px;
	}

	.avatar {
		width: 50px;
		height: 50px;
	}

	body[page-mode="index"] #cont.cont {
		font-size: 0px;
		width: 618px;
		margin: 30px auto 25px;
	}

	body[page-mode="single"] #cont.cont {
		margin: 25px auto;
	}

	body[page-mode="index"] .entry {
		display: inline-block;
		width: 200px;
		margin: 3px 3px;
	}

	.post {
	}

	.post-text {
		font-size: 2em;
	}

	.post h2, .post-text > p {
		width: 612px;
		margin-left: auto;
		margin-right: auto;
	}

	.post-text figure {
	}

	.post-text figure img {
		display: block;
		margin: 0 auto;
	}

	.post-text figure img.full {
		border-radius: 0;
		width: 100%;
	}

	.post-text figure img.lg {
		width: 1000px;
	}

	.post-text figure img.md {
		width: 780px;
	}

	.post-text figure img.sm {
		width: 612px;
	}

	.post-text figure img.xs {
		width: 420px;
	}

	.post-text figure img.xxs {
		width: 210px;
	}

	nav.prevandnext {
		max-width: 612px;
		margin: 0 auto;
	}
}
