@media screen and (min-width: 1100px) {
	html, body {
		font-size: 10px;
	}

	.global {
		width: 612px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}

	#global-header {
		padding-top: 50px;
	}

	.global h1 {
		font-size: 2.8em;
		/*margin: 35px 0;*/
	}

	.global h2 {
		font-size: 2em;
		margin: 15px 0;
	}

	#global-footer {
		text-align: center;
		padding: 50px;
	}

	div#cont.cont {
		margin: 25px auto;
	}

	.post {
	}

	.post-text {
		font-size: 2em;
	}

	.post h2, .post-text > p {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	.post-text figure {
	}

	.post-text figure img {
		display: block;
		margin: 0 auto;
	}

	.post-text figure img.full {
		border-radius: 0;
		width: 100%;
	}

	.post-text figure img.lg {
		width: 1000px;
	}

	.post-text figure img.md {
		width: 780px;
	}

	.post-text figure img.sm {
		width: 600px;
	}

	.post-text figure img.xs {
		width: 420px;
	}

	.post-text figure img.xxs {
		width: 210px;
	}

	nav.prevandnext {
		max-width: 600px;
		margin: 0 auto;
	}
}
